body {
	font-family: Tenor Sans;
	letter-spacing: 3px;
	color: #2C2926;
	-webkit-font-smoothing: antialiased;
	max-width: 600px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.name {
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 6px;
}

.sub-name {
	margin-bottom: 30px;
}

.block-text {
	font-family: Open Sans;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.date {
	margin-top: 8px;
	margin-bottom: 8px;
}
.time {
	margin-top: 8px;
}

.jump {
	max-width: 500px;
	margin: auto;
	margin-bottom: 68px;
	img {
		width: 100%;
	}
}

.chunk {
	font-size: 34px;
	text-align: center;
	margin-bottom: 68px;
	margin-left: 15px;
	margin-right: 15px;
}
.line {
	text-align: center;
	img {
		max-width: 370px;
		width: 100%;
	}
}

.sub-hed {
	margin-bottom: 8px;
}
.big-hed {
	font-size: 40px;
	margin-top: 68px;
	margin-bottom: 16px;

	img {
		margin-bottom: 8px;
	}
}

.text {
	font-family: Open Sans;
	letter-spacing: 2px;
	font-size: 15px;
}

.location, .details {
	font-size: 15px;
	margin-top: 22px;
}
.details {
	line-height: 20px;
	letter-spacing: 1px;
	/*text-align: justify;*/
	/*text-align-last: center;*/
}
.address {
	margin-top: 8px;
}
.stay-tuned {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 150px;
}

hr {
	height: 1px; color: #D3D3D3; background: #D3D3D3; font-size: 0; border: 0;
}
a {
	color: #06402B;
	border-bottom: 1px dashed #DDD;
	text-decoration: none;
	font-weight: bold;
	&:hover {
		border-bottom: 1px dashed #06402B;
	}
}
